@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

.swiper-pagination-bullet {
  background-color: #B2B2B2 !important;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF !important;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 500px;
  left: 50%;
  width: 600px; /* Ajuste o tamanho conforme necessário */
  height: 600px;
  background: rgba(91, 196, 255, 0.48); /* Azul com transparência */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px); /* Desfocar para suavizar a transição */
  z-index: 0;
}

@media (min-width: 600px) {
  .bg-overlay::before {
    width: 600px;
    left: calc(50% + 36px);
  }
}


@media (min-width: 1200px) {
  .bg-overlay::before {
    width: 600px;
    left: calc(59%);
  }
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}